* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.seat {
    background-color:  #667f88;
    height: 32px;
    width: 35px;
    margin: 3px;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    padding: 4px;
}

.seat.selected {
    background-color:#040a31;
}

.seat.occupied {
    background-color:rgb(106, 11, 137);
}

.seat:nth-of-type(2) {
    margin-right: 43px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);;

    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: rgb(181, 81, 81);
}

.button {
    transition-duration: 0.4s;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    width: 180px;



    border-radius: 25px;
    font-family: bold;
    border: 2px solid #009688;





}

.button:hover {
    background-color: #009688;
    /* Green */
    color: white;
}


.tacbox {
    display: block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
}